.product-page img {
  width: 70px;
  height: 70px;
}

.product-page #header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:
    Instrument Serif,
    Georgia;
  background-color: darkblue;
}

.product-page #nav-bar {
  right: 0;
  top: 0;
  position: fixed;
}

.product-page #nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: 5vw;
}

.product-page .nav-link:hover {
  color: purple;
}
